
<div class="abt">
    <div class="bg-white p-2 fixed-top">
        <nav class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <a routerLink="/dashboard/dashboard">
                        <img width="70px" src="/assets/img/mainlogo.jpg" alt="">
                    </a>
                </div>
                <div>
                    <button 
                    routerLink="/login"
                    class="btn btn-primary mr-2">Loign</button>
                    <button 
                    routerLink="/auth"
                    class="btn btn-primary">Signup</button>
                </div>
            </div>
        </nav>
    </div>
    <header style="position:relative;min-height: 100vh;background-image: url('assets/volunterr.jpg');background-repeat: no-repeat;background-size: cover;">
        <div style="
            display:flex;align-items: center;
            position: absolute;top: 0;bottom: 0;left: 0;right: 0;background-color: rgba(0,0,0,.5);"> 
          <div class="container">
            <div class="text-white">
                <h1 style="font-weight: bold;font-size: 30px;">Helping the disabled <br> through volunteers</h1>
                <p style="font-weight: bold;">Help Me is a free app that connects the disabled and unable <br> to volunteers who are able to get help by sending a request</p>
                <div class="d-flex">
                    <button class="btn btn-primary mr-3">Download for ios</button>
                    <button class="btn btn-primary">Download for android</button>
                </div>
            </div>
          </div>
        </div>
    </header>
    <div class="py-5">
        <div class="text-center">
            <h2 style="font-weight: bold;">How it Works</h2>
            <p style="font-weight: bold;">Every day, able volunteers help solve tasks big and small <br> to help the disabled lead a more independent life.</p>
            
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div style="border-radius: 20px;overflow: hidden;border:1px solid gray">
                    <img 
                    style="height: 380px;"
                    class="img-fluid" src="assets/disabled.jpg" alt="">
                    <div class="p-3">
                        <h3
                        class="my-2" style="font-weight: bold;height: 120px;"> A disabled or incapable person asks for help</h3>
                    <p class="text-secondary">
                        As a disabled or incapable person, whenever you need help, our volunteers are happy to help. By agreeing to the request,
                        Which you sent to him, and it has the type of service, date and time. You and a volunteer can communicate directly and solve a problem through the phone number you sent in the request for assistance. The volunteer will help you solve your problem 
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div style="height: 708px;border-radius: 20px;overflow: hidden;border:1px solid gray">
                    <img class="img-fluid" style="height: 380px;" src="assets/header.jpg" alt="">
                    <div class="p-3">
                        <h3  style="font-weight: bold;height: 120px;" class="my-2">A volunteer who is able to receive assistance from a disabled person </h3>
                        <p class="text-secondary">
                            As a capable volunteer, you can help just by going on the website or installing the Help Me app. A disabled or incapable user may need help with anything, moving around in new surroundings, etc.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <div style="border: 1px solid gray;border-radius: 15px;padding: 10px;text-align: center;">
                    <h2 style="font-weight: bold;">{{one}}</h2>
                    <p class="text-secondary">VolunteerNum</p>
                </div>
            </div>
            <div class="col-md-4">
                <div style="border: 1px solid gray;border-radius: 15px;padding: 10px;text-align: center;">
                    <h2 style="font-weight: bold;">{{two}}</h2>
                    <p class="text-secondary">DisabledNum</p>
                </div>
            </div>
            <div class="col-md-4">
                <div style="border: 1px solid gray;border-radius: 15px;padding: 10px;text-align: center;">
                    <h2 style="font-weight: bold;">{{three}}</h2>
                    <p class="text-secondary">AskHelpNum </p>
                </div>
            </div>
       
        </div>
    </div>
    <div class="py-5">
        <div class="text-center">
            <h2 style="font-weight: bold;">Join the community!</h2>
            <p style="font-weight: bold;">Help Me's goal is to make the world accessible to people who are disabled or unable to help themselves. We cannot <br> do this without the help and dedication of our community.</p>
            
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6">
                    <div>
                        <img src="assets/phonicon.png" style="width:100px" alt="">
                        <h3  style="font-weight: bold;">Download Help Me</h3>
                        <p>Get the Help Me app and join our global community as a Disabled User or Able Volunteer.</p>
                        <p ><a style="color: blue;" >Android ></a></p>
                        <p><a 
                            style="color: blue;"
                           >Iphone ></a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img src="assets/ms.png" style="width:100px" alt="">
                        <h3 style="font-weight: bold;">Help us spread the word</h3>
                        <p>Helping through Help Me is easy. Invite your friends, <br> family or colleagues</p>
                        <p ><a style="color: blue;" href="https://www.facebook.com/Help-Me-102756245691436/" target="_blank">Share on Facebook ></a></p>
                        <p><a 
                            style="color: blue;"
                            href="https://twitter.com/HelpMe05934068" target="_blank">Share on Twitter ></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="container">
        <div class="d-flex justify-content-between align-items-center">
            <ul class="d-flex list-unstyled">
              <li class="mr-3">
                  <a  
                  style="color: blue;"
                  href="https://www.facebook.com/Help-Me-102756245691436/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                      </svg>
                  </a>
              </li>
                <li class="mx-3"></li>
        <li>
            <a   
            style="color: blue;"
            href="https://twitter.com/HelpMe05934068" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                    <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                  </svg>
            </a>
        </li>
            </ul>
                <div class="d-md-flex">
                    <button class="btn btn-primary mr-3">Download for ios</button>
                    <button class="btn btn-primary">Download for android</button>
                </div>
        </div>
    </footer>
</div>